.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra el contenido verticalmente */
    padding-left: 20px; /* Añade un padding a la izquierda para mover el logo */
  }
  
  .logo {
    width: 90px;
    height: auto;
    margin-right: 10px; /* Espacio a la derecha del logo */
  }
  
  
  .container {
    padding-top: 100px; /* Ajusta este valor según la altura de tu header */
  }
  
  .custom-header {
    background-color: #007bff; /* Color primario de Bootstrap */
  }
  
  h1 {
    font-size: 1.5rem; /* Ajusta el tamaño del título */
    margin: 0; /* Elimina el margen para evitar que se sume a la altura */
  }
  
  p {
    font-size: 0.9rem; /* Ajusta el tamaño del subtítulo */
    margin: 0; /* Elimina el margen para evitar que se sume a la altura */
  }
  